<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fof.init.dao.ModuleInfoDao">
    <sql id="all_columns">
        ID,NAME,CODE,DESCRIPTION,ORDER_NO,IS_LEAF,ICON,PARENT_ID,DELETE_FLAG,CREATE_TIME,CREATER,UPDATE_TIME,UPDATER,DELETE_TIME,DELETER
    </sql>
    <sql id="update_sql">
		UPDATE_TIME = to_char(sysdate,'yyyy-MM-dd HH24:mi:ss')
    </sql>
    <sql id="delete_sql">
		DELETE_FLAG='1',DELETE_TIME = TO_CHAR(SYSDATE,'yyyy-MM-dd HH24:mi:ss')
    </sql>
    <sql id="sql_where" >
        <if test="id != null and id != ''">
            AND ID=#{id}
        </if>
        <if test="name != null and name != ''">
            AND NAME=#{name}
        </if>
        <if test="code != null and code != ''">
            AND CODE=#{code}
        </if>
        <if test="description != null and description != ''">
            AND DESCRIPTION=#{description}
        </if>
        <if test="order_no != null and order_no != ''">
            AND ORDER_NO=#{order_no}
        </if>
        <if test="is_leaf != null and is_leaf != ''">
            AND IS_LEAF=#{is_leaf}
        </if>
        <if test="icon != null and icon != ''">
            AND ICON=#{icon}
        </if>
        <if test="parent_id != null and parent_id != ''">
            AND PARENT_ID=#{parent_id}
        </if>
        <if test="delete_flag != null and delete_flag != ''">
            AND DELETE_FLAG=#{delete_flag}
        </if>
        <if test="create_time != null and create_time != ''">
            AND CREATE_TIME=#{create_time}
        </if>
        <if test="creater != null and creater != ''">
            AND CREATER=#{creater}
        </if>
        <if test="update_time != null and update_time != ''">
            AND UPDATE_TIME=#{update_time}
        </if>
        <if test="updater != null and updater != ''">
            AND UPDATER=#{updater}
        </if>
        <if test="delete_time != null and delete_time != ''">
            AND DELETE_TIME=#{delete_time}
        </if>
        <if test="deleter != null and deleter != ''">
            AND DELETER=#{deleter}
        </if>
    </sql>

    <!-- 查询所有数据 -->
    <select id="getAll" resultType="com.fof.init.entity.SysModuleInfoEntity" parameterType="java.util.HashMap">
        select <include refid="all_columns" />,LEVEL from SYS_MODULE_INFO where 1=1 <include refid="sql_where" /> START WITH PARENT_ID ='0' CONNECT BY PARENT_ID = PRIOR ID  ORDER SIBLINGS BY ORDER_NO ASC
    </select>

    <insert id="insert" parameterType="com.fof.init.entity.SysModuleInfoEntity" >
        <!--获取最新更新的主键-->
        <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
            select lower(sys_guid()) as GUID from dual
        </selectKey>
        INSERT INTO SYS_MODULE_INFO (<include refid="all_columns" />)
        VALUES (
        #{id,jdbcType = VARCHAR},
        #{name,jdbcType = VARCHAR},
        #{code,jdbcType = VARCHAR},
        #{description,jdbcType = VARCHAR},
        #{order_no,jdbcType = VARCHAR},
        #{is_leaf,jdbcType = VARCHAR},
        #{icon,jdbcType = VARCHAR},
        #{parent_id,jdbcType = VARCHAR},
        #{delete_flag,jdbcType = VARCHAR},
        to_char(sysdate,'yyyy-MM-dd HH24:mi:ss'),
        #{creater,jdbcType = VARCHAR},
        #{update_time,jdbcType = VARCHAR},
        #{updater,jdbcType = VARCHAR},
        #{delete_time,jdbcType = VARCHAR},
        #{deleter,jdbcType = VARCHAR}
        )
    </insert>

    <update id="update" parameterType="com.fof.init.entity.SysModuleInfoEntity">
        UPDATE SYS_MODULE_INFO SET
        <if test="null != name and name != ''">
            NAME = #{name},
        </if>
        <if test="null != code and code != ''">
            CODE = #{code},
        </if>
        <if test="null != description and description != ''">
            DESCRIPTION = #{description},
        </if>
        <if test="null != order_no and order_no != ''">
            ORDER_NO = #{order_no},
        </if>
        <if test="null != is_leaf and is_leaf != ''">
            IS_LEAF = #{is_leaf},
        </if>
        <if test="null != icon and icon != ''">
            ICON = #{icon},
        </if>
        <if test="null != parent_id and parent_id != ''">
            PARENT_ID = #{parent_id},
        </if>
        <if test="delete_flag != null and delete_flag != ''">
            DELETE_FLAG = #{delete_flag},
        </if>
        <if test="create_time != null and create_time != ''">
            CREATE_TIME = #{create_time},
        </if>
        <if test="creater != null and creater != ''">
            CREATER = #{creater},
        </if>
        <if test="delete_time != null and delete_time != ''">
            DELETE_TIME = #{delete_time},
        </if>
        <if test="deleter != null and deleter != ''">
            DELETER = #{deleter},
        </if>
        <if test="updater != null and updater != ''">
            UPDATER = #{updater},
        </if>
        <include refid="update_sql" />
        WHERE id = #{id}
    </update>

    <delete id="deleteByIdList">
        DELETE FROM SYS_MODULE_INFO WHERE  ID in
        <foreach collection="idList" index="index" item="id" open="(" separator="," close=")">
            #{id,jdbcType=VARCHAR}
        </foreach>
    </delete>


    <select id="findById"  resultType="com.fof.init.entity.SysModuleInfoEntity" parameterType="java.lang.String">
   	  	SELECT * from SYS_MODULE_INFO where  1=1 AND DELETE_FLAG='0' and id =#{id}
  	</select>


    <select id="getLeafModuleById" resultType="com.fof.init.entity.SysModuleInfoEntity" parameterType="java.util.HashMap">
	   SELECT *  FROM SYS_MODULE_INFO WHERE IS_LEAF='1' connect by prior id=PARENT_ID start with id=#{id}
    </select>


    <select id="getAllById"  resultType="com.fof.init.entity.SysModuleInfoEntity" parameterType="java.lang.String">
   	  	SELECT * FROM SYS_MODULE_INFO WHERE DELETE_FLAG='0' START WITH  ID=#{id} CONNECT BY PRIOR ID = PARENT_ID
  	</select>

    <select id="getModuleLevelName" resultType="com.fof.init.entity.SysModuleInfoEntity">
  	  	SELECT LTRIM(SYS_CONNECT_BY_PATH(NAME,'-'), '-') LEVELNAME,ID FROM SYS_MODULE_INFO WHERE IS_LEAF='1' AND DELETE_FLAG='0' START WITH PARENT_ID='0' CONNECT BY PRIOR ID=PARENT_ID ORDER BY ORDER_NO
  	</select>
</mapper>