<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fof.init.dao.UserInfoDao">
     <sql id="all_columns">
        ID,FULLNAME,USERNAME,PASSWORD,USERCODE,DELETE_FLAG,CREATE_TIME,CREATER,UPDATE_TIME,UPDATER,DELETE_TIME,DELETER
    </sql> 
   <sql id="update_sql">
		UPDATE_TIME = to_char(sysdate,'yyyy-MM-dd HH24:mi:ss')
    </sql>
    <sql id="delete_sql">
		DELETE_FLAG='1',DELETE_TIME = TO_CHAR(SYSDATE,'yyyy-MM-dd HH24:mi:ss')
    </sql>    
    <sql id="pagination_start">
		SELECT * FROM (SELECT T1.*, ROWNUM  ROW_ID FROM (
    </sql>
    <sql id="pagination_end">
        <![CDATA[  
		  ) T1 WHERE ROWNUM <=(#{offset}-1)*#{limit}+#{limit}) WHERE ROW_ID >= (#{offset}-1)*#{limit}+1  
	    ]]>	 
    </sql>
    <sql id="sql_where">
        <if test="id != null and id != ''">
            AND ID=#{id}
        </if>
        <if test="fullName != null and fullName != ''">
            AND FULLNAME=#{fullName}
        </if>
        <if test="userName != null and userName != ''">
            AND USERNAME=#{userName}
        </if>
        <if test="passWord != null and passWord != ''">
            AND PASSWORD=#{passWord}
        </if>
        <if test="userCode != null and userCode != ''">
            AND USERCODE=#{userCode}
        </if>
        <if test="delete_flag != null and delete_flag != ''">
            AND DELETE_FLAG=#{delete_flag}
        </if>
        <if test="create_time != null and create_time != ''">
            AND CREATE_TIME=#{create_time}
        </if>
        <if test="creater != null and creater != ''">
            AND CREATER=#{creater}
        </if>
        <if test="update_time != null and update_time != ''">
            AND UPDATE_TIME=#{update_time}
        </if>
        <if test="updater != null and updater != ''">
            AND UPDATER=#{updater}
        </if>
        <if test="delete_time != null and delete_time != ''">
            AND DELETE_TIME=#{delete_time}
        </if>
        <if test="deleter != null and deleter != ''">
            AND DELETER=#{deleter}
        </if>
    </sql>

	<!--根据用户名查询 用户信息 SELECT  * from SYS_USER_INFO where  1=1 and USERNAME=#{userName}-->
	<select id="getByUserName"  resultType="com.fof.common.bean.SecurityUserInfo" parameterType="java.lang.String">
   	  	select T1.ID,T1.USERNAME,T1.PASSWORD,T2.ACCOUNTNONEXPIRED,T2.ACCOUNTNONLOCKED,T2.CREDENTIALSNONEXPIRED,T2.ENABLED from
        SYS_USER_INFO T1  JOIN SYS_USERSTATUS_INFO T2
        ON T1.ID=T2.FOREIGNID WHERE T1.USERNAME=#{userName}
  	</select>

    <!-- 查询所有数据 -->
    <select id="getAll" resultType="com.fof.init.entity.SysUserInfoEntity" parameterType="java.util.HashMap">
        <if test="limit!=null and limit!=''">
            <if test="limit>=0">
                <include refid="pagination_start" />
            </if>
        </if>
        SELECT * FROM SYS_USER_INFO where 1=1
        <include refid="sql_where" />
        <if test="sortField != null and sortField != ''">
            ORDER BY ${sortField}
        </if>
        <if test="sortType != null and sortType != ''">
            ${sortType},ID  DESC
        </if>
        <if test="limit!=null and limit!=''">
            <if test="limit>=0">
                <include refid="pagination_end" />
            </if>
        </if>
    </select>

    <select id="getCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM SYS_USER_INFO WHERE 1=1
        <include refid="sql_where" />
    </select>

    <delete id="delete">
        UPDATE SYS_USER_INFO SET <include refid="delete_sql" />, DELETER=#{deleter,jdbcType = VARCHAR}
        WHERE ID IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id,jdbcType = VARCHAR}
        </foreach>
    </delete>

    <insert id="insert" parameterType="com.fof.init.entity.SysUserInfoEntity" >
        <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
            select lower(sys_guid()) as GUID from dual
        </selectKey>
        INSERT INTO SYS_USER_INFO (<include refid="all_columns" />)
        VALUES (
        #{id,jdbcType = VARCHAR},
        #{fullName,jdbcType = VARCHAR},
        #{userName,jdbcType = VARCHAR},
        #{passWord,jdbcType = VARCHAR},
        #{userCode,jdbcType = VARCHAR},
        #{delete_flag,jdbcType = VARCHAR},
        to_char(sysdate,'yyyy-MM-dd HH24:mi:ss'),
        #{creater,jdbcType = VARCHAR},
        #{update_time,jdbcType = VARCHAR},
        #{updater,jdbcType = VARCHAR},
        #{delete_time,jdbcType = VARCHAR},
        #{deleter,jdbcType = VARCHAR}
        )
    </insert>

    <update id="update" parameterType="com.fof.init.entity.SysUserInfoEntity">
        UPDATE SYS_USER_INFO SET
        <if test="fullName != null and fullName != ''">
            FULLNAME = #{fullName},
        </if>
        <if test="userName != null and userName != ''">
            USERNAME = #{userName},
        </if>
        <if test="passWord != null and passWord != ''">
            PASSWORD = #{passWord},
        </if>
        <if test="null != userCode and userCode != ''">
            USERCODE = #{userCode},
        </if>
        <if test="delete_flag != null and delete_flag != ''">
            DELETE_FLAG = #{delete_flag},
        </if>
        <if test="create_time != null and create_time != ''">
            CREATE_TIME = #{create_time},
        </if>
        <if test="creater != null and creater != ''">
            CREATER = #{creater},
        </if>
        <if test="delete_time != null and delete_time != ''">
            DELETE_TIME = #{delete_time},
        </if>
        <if test="deleter != null and deleter != ''">
            DELETER = #{deleter},
        </if>
        <if test="updater != null and updater != ''">
            UPDATER = #{updater},
        </if>
        <include refid="update_sql" />
        WHERE id = #{id}
    </update>

    <select id="checkUserName" parameterType="java.util.HashMap" resultType="java.lang.Integer">
  	      SELECT COUNT(1) FROM SYS_USER_INFO WHERE 1=1 AND DELETE_FLAG='0' AND USERNAME='${userName}'
  	</select>

    <select id="checkUserCode" parameterType="java.util.HashMap" resultType="java.lang.Integer">
  	      SELECT COUNT(1) FROM SYS_USER_INFO WHERE 1=1 AND DELETE_FLAG='0' AND USERCODE='${userCode}'
  	</select>

    <select id="findById" resultType="com.fof.init.entity.SysUserInfoEntity" parameterType="java.lang.String">
		SELECT * FROM SYS_USER_INFO  WHERE 1 = 1 AND DELETE_FLAG='0' AND ID = #{id}
    </select>

    <update id="resetPassWord" parameterType="com.fof.init.entity.SysUserInfoEntity">
        UPDATE SYS_USER_INFO SET PASSWORD=#{passWord},
        <if test="updater != null and updater != ''">
            UPDATER = #{updater},
        </if>
        <include refid="update_sql" />
        WHERE ID = #{id}
    </update>

</mapper>